.contenedor {
  border: 5px solid #e1bee7;
  background-color: rgb(32, 22, 22);
  display: grid; 
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 75px 75px 75px; 
  place-content: center;
}

/*reto con 3 celdas*/

.item {
  font-size: 4rem;
}

.item-1 {
  border: 5px solid #00bcd4;
  background-color: tomato;
}

.item-2 {
  border: 5px solid #00bcd4;
  background-color: tomato;
}

.item-3 {
  border: 5px solid #00bcd4;
  background-color: tomato;
}

