* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor {
  border: 5px solid #e1bee7;
  background-color: rgb(32, 22, 22);
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(3, auto); */
  align-content: center;
  height: 550px;
}

/*reto con 9 celdas*/

.item {
  border: 5px solid #00bcd4;
  background-color: tomato;
  font-size: 2rem;
  padding: 15px;
}

.item-5 {
  grid-column: 1 / 3;
}

.item-9 {
  grid-column: 1 / 4;
}
/*
fr : Es una unidad de medida especial de css grid para darle ancho o alto a filas y columnas 1fr representa una fraccion del total de columnas o filas.

min-content : Ajusta el ancho de la celda lo mínimo posible sin romper su contenido. (reemplaza la medida de celda en grid-template-colums/rows)

max-content : Ajusta el ancho de la celda lo máximo posible para mostrar su contenido. (reemplaza la medida de celda en grid-template-colums/rows)

auto-fill : Agrega columnas “fantasma” que rellenan el espacio sobrante del contenedor.

auto-fit : Ensancha las columnas para que ocupen todo el espacio del contenedor.

auto-fill y auto-fit ayudan a la grilla a ocupar el 100% del espacio disponible.
Asi se escribe "repeat(auto-fit, minmax(200px, 1fr))"
*/